html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
html,*{
    -ms-content-zooming:none;
    content-zooming:none;
    -webkit-content-zooming:none;
}
body, html ,*{
    -ms-touch-action: none;
    -ms-user-selec: none;
    margin: 0;
}
html,body {
    height: 100%;
    margin: 0;
    background-color: #f5f8fa;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*overflow: hidden;*/
}

#mainContainer{
    margin: auto;
}
ul,li{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: none;
    text-transform: none;
}
